# tuple

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t = (2,3,4,"hello",'python')

In [5]:
t

(2, 3, 4, 'hello', 'python')

In [6]:
type(t)

tuple

In [9]:
t[-2]

'hello'

In [10]:
t[1:4]

(3, 4, 'hello')

In [11]:
t[4]

'python'

In [12]:
t1 = (3,2,6,8)

In [13]:
a,b,c,d,e = t

In [14]:
e

'python'

In [15]:
type(e)

str

In [16]:
e[3]

'h'

In [17]:
t1 = (2,5,7,8,9,5,2,5)

In [18]:
t1.count(5)

3

In [19]:
t1.index(5)

1

In [20]:
len(t1)

8

In [21]:
min(t1)

2

In [23]:
t1*2

(2, 5, 7, 8, 9, 5, 2, 5, 2, 5, 7, 8, 9, 5, 2, 5)

In [24]:
t2[0] = 6

NameError: name 't2' is not defined

# list

In [25]:
l = [2,4,6,7,9,'singh,''anupam']

In [26]:
type(l)

list

In [27]:
l

[2, 4, 6, 7, 9, 'singh,anupam']

In [30]:
l1 = [2,4,6,5,7,8,['singh',7,5,'python']]

In [31]:
l1

[2, 4, 6, 5, 7, 8, ['singh', 7, 5, 'python']]

In [32]:
l1[6][-1]

'python'

In [34]:
l2 = [6,34,67,'fgh',78,'rtb']

In [36]:
l2[3] = 'anupam'

In [37]:
l2

[6, 34, 67, 'anupam', 78, 'rtb']

In [38]:
l2

[6, 34, 67, 'anupam', 78, 'rtb']

In [40]:
l3 = [8,7,5,12,23]

In [41]:
l2+l3

[6, 34, 67, 'anupam', 78, 'rtb', 8, 7, 5, 12, 23]

In [44]:
#append
l2.append('kumar')

In [45]:
l2

[6, 34, 67, 'anupam', 78, 'rtb', 'singh', 'kumar']

In [47]:
l4 = []
l4.append(l3)

In [48]:
l4

[[8, 7, 5, 12, 23]]

In [51]:
#extend
l5 = (9,5,4, 'jaker')

In [53]:
t5 = (7,6,6,8)

In [57]:
l6 = [7,8,9,0,12]

In [58]:
l6

[7, 8, 9, 0, 12]

In [59]:
set(l6)

{0, 7, 8, 9, 12}

In [60]:
l6.extend(t5)

In [61]:
l6

[7, 8, 9, 0, 12, 7, 6, 6, 8]

In [62]:
l6.extend('thde')

In [63]:
l6

[7, 8, 9, 0, 12, 7, 6, 6, 8, 't', 'h', 'd', 'e']

In [64]:
h1 = [8,7,6,4]
h2 = [7,85]

In [65]:
h1.append(h2)

In [66]:
h1

[8, 7, 6, 4, [7, 85]]

In [67]:
h3 = [89,78]
h4 = [78,67]

In [68]:
h3.extend(h4)

In [69]:
h3

[89, 78, 78, 67]

In [70]:
#count
h3.count(78)

2

In [71]:
h3.insert(1,567)

In [72]:
h3

[89, 567, 78, 78, 67]

In [73]:
#remove
h3.remove(78)

In [74]:
h3

[89, 567, 78, 67]

In [79]:
h3.pop()

78

In [90]:
h3.pop(0)

IndexError: pop from empty list

In [87]:
h5 = [4,5,78,43,12]

In [88]:
h5.sort()

In [89]:
h5

[4, 5, 12, 43, 78]

In [91]:
h5.reverse()
h5

[78, 43, 12, 5, 4]

In [92]:
h5.clear()

In [93]:
h5

[]

# dictionaries

In [97]:
d = {'name' : 'anupam', 'score': 67, 'rating': 3.5}

In [98]:
type(d)

dict

In [99]:
d[2]

KeyError: 2

In [100]:
d['score']

67

In [102]:
d['rating'] = 4

In [103]:
d

{'name': 'anupam', 'score': 67, 'rating': 4}

In [104]:
del d['score']

In [105]:
d

{'name': 'anupam', 'rating': 4}

In [106]:
str(d)

"{'name': 'anupam', 'rating': 4}"

In [109]:
d1 = {'sr': 56, 'tt':78, 'yu': 89}

In [111]:
d2 = d1.copy()

In [112]:
d2

{'sr': 56, 'tt': 78, 'yu': 89}

In [113]:
d2.get('sr')

56

In [114]:
d2.keys()

dict_keys(['sr', 'tt', 'yu'])

In [115]:
d2.values()

dict_values([56, 78, 89])

In [116]:
d3 = {'er':67, 'po':54}

In [117]:
d1.update(d3)

In [118]:
d1

{'sr': 56, 'tt': 78, 'yu': 89, 'er': 67, 'po': 54}

In [119]:
d1.clear()

In [120]:
d1

{}

# set

In [121]:
s = {1,4,4,2,5,2,7,8}

In [122]:
type(s)

set

In [123]:
s

{1, 2, 4, 5, 7, 8}

In [124]:
s.add(9)

In [125]:
s

{1, 2, 4, 5, 7, 8, 9}

In [126]:
s1 = {'roh', 'ib', 'py', 'tw'}
s2 = {'io', 'py', 'te'}

In [129]:
s1.difference(s2)

{'ib', 'roh', 'tw'}

In [130]:
s1

{'ib', 'py', 'roh', 'tw'}

In [131]:
s1

{'ib', 'py', 'roh', 'tw'}

In [132]:
s1.difference_update(s2)

In [133]:
s1

{'ib', 'roh', 'tw'}

In [134]:
list(s1)

['roh', 'ib', 'tw']

In [136]:
tuple(s1)

('roh', 'ib', 'tw')

In [138]:
c1 = {'anupam':1998}
c2 = {'rohit':1960}

ct = {'cm':c1, 'cm2':c2}

In [139]:
c2['rohit']

1960

In [140]:
ct

{'cm': {'anupam': 1998}, 'cm2': {'rohit': 1960}}

In [141]:
ct['cm2']['rohit']

1960